*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3fbff;
}
.img-box{
    width: 60%;
    margin: 0 auto;
    line-height: 0;
    background-image: url(images/background.png);
    overflow: hidden;
    position: relative;
}
.img-box img {
    caret-color: transparent;
}
.img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 20px;
}
.arrow {
    width: 40px;
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
    top: 50%;
}
span{
    width: 1;
    height: 100%;
    position: absolute;
    cursor:ew-resize;
    left: 20;
    top: 0;
    background-color: #fff;
}